header {
	font-family:Comic Sans MS;
	font-size:15px;
}

#logo {
	height:105px; 
	width:105px;
}

ul.navbar {
	background-color: #DCDCDC;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.navbar li {
	float: left;
	border-right: 1px solid #bbb;
}

ul.navbar li a {
	display: block;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
}

ul.navbar li a:hover {
	background-color: white;
}

body {
	background-image:url("../img/solid-colors/Silver.png");
	background-position:center;
	background-repeat:repeat;
}

#bienvenida {
	height:700px;
	background-position:center;
	background-repeat:no-repeat;
	background-image:url("../img/periodico.png");
	background-size: 50% 50%;
	background-color: #ececec;
	background-attachment:scroll;
}

#texto {
	text-align:center;
	font-family:Comic Sans MS;
	margin: 20px;
	padding: 5px 10px;
	color: black;
	font-size: 100%,
}

#texto2 {
	text-align:center;
	font-family:Comic Sans MS;
	margin: 20px;
	padding: 5px 10px;
	color: black;
	font-size: 100%,
}

#button {
	text-align:center;
}

#imgproducto {
	height:200px; 
	width:200px;
}

table, td, th #noticias {
	font-family:Comic Sans MS;
}

tbody.noticias2 {
	background-image:url("../img/solid-colors/Solid-Lavender.png");
	background-attachment:scroll;
}


form {
	background-image:url("../img/solid-colors/Solid-Gray-Light.png");
	background-attachment:scroll;
}

footer {
	bottom:0%;
	text-align:center;
}

div.mantenimiento {
	margin: auto;
	width: 50%;
	text-align:center;
	font-family:Comic Sans MS;
	font-size:15;
}

iframe {
	width:600px;
	height:450px; 
	border:0;
}

div #datos {
	width:50%;
	float:left
}

div #mapa {
	width:50%;
	float:right;
}

div #nuestrainfo {
	width:100%;
	height:100%;
}